@page
@model CIT_365_Web_MegaDesk.Pages.Quotes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Quote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quote.FirstName" class="control-label"></label>
                <input asp-for="Quote.FirstName" class="form-control" />
                <span asp-validation-for="Quote.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.LastName" class="control-label"></label>
                <input asp-for="Quote.LastName" class="form-control" />
                <span asp-validation-for="Quote.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-validation-for="Quote.QuoteDate" value="@Model.SetQuoteDate" />
                <span asp-validation-for="Quote.QuoteDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Width" class="control-label"></label>
                <input asp-for="Quote.Width" class="form-control" />
                <span asp-validation-for="Quote.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Depth" class="control-label"></label>
                <input asp-for="Quote.Depth" class="form-control" />
                <span asp-validation-for="Quote.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Quote.DeskTopArea" value="0"/>
            </div>
            @*<div class="form-group">
                <label asp-for="Quote.DeskTopArea"></label>
                <input type="hidden" asp-for="Quote.DeskTopArea" />
            </div>*@
            <div class="form-group">
                <label asp-for="Quote.Drawers" class="control-label"></label>
                <input asp-for="Quote.Drawers" class="form-control" />
                <span asp-validation-for="Quote.Drawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.DeskMaterial" class="control-label"></label>
                <select asp-for="Quote.DeskMaterial">
                    <option value="Oak">Oak</option>
                    <option value="Laminate">Laminate</option>
                    <option value="Pine">Pine</option>
                    <option value="Rosewood">Rosewood</option>
                    <option value="Veneer">Veneer</option>
                </select>
                <span asp-validation-for="Quote.DeskMaterial" class="text-danger"></span>

                @*<input asp-for="Quote.DeskMaterial" class="form-control" value="TestMaterial" />
        <span asp-validation-for="Quote.DeskMaterial" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Quote.Rushdays" class="control-label"></label>
                <select asp-for="Quote.Rushdays">
                    <option value="0">0</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="7">7</option>
                </select>
                @*<input asp-for="Quote.Rushdays" class="form-control" />*@
                <span asp-validation-for="Quote.Rushdays" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input type="hidden" asp-for="Quote.QuoteTotal" value="0" />
                
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
